.searchBox{
    display: flex;
    border-radius: 25px;
    background: rgb(71 203 75 / 15%);
    height: 50px;
    width: 650px;
}

.searchBox:hover{
    background: rgba(214, 255, 216, 0.15);
}

.search_input{
    height: inherit;
    display: block;
    align-items: center;
    display: block;
    background: local;
    border: none;
    width: 550px;
    margin: auto;
    cursor: pointer;
    color: white;
    font-size: 22px;
}
.search_input:focus{
    outline: none;
    color: white;
    font-size: 22px;
}
.search_input::placeholder{
    color: white;
    font-size: 22px;
}