header{
    background: #6aff2d;
    background-image: url('../../images/output-onlinepngtools.png');
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 27px 63px;
    box-sizing: border-box;
}
